#Travis - 2/16/18
language: ruby
rvm:
  - 2.3.3
cache: bundler
install: gem install ruby_dep -v 1.3.1 && gem install listen -v 3.0.8 && gem install jekyll -v 2.4.0 #&& gem install jekyll-redirect-from && gem install s3_website
script: jekyll build
after_success: 
  - bash postbuild.sh
  - s3_website push
notifications:
    slack: aiacc:DQJx1jxSipYMHzXBVtf4kMGH
env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer
sudo: false
