---
layout: default
---

<div class="max-width">
    <div class="page-header no-margin dark larger">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>{{ page.title | camelcase }} Blog</h1>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="/opportunity/blog/">Team Blogs</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="max-width">
        <div class="container mt20">
            <div class="row mb20">
                <div class="col-md-9">
                        {{ content }}
                        {% if paginator.posts.size > 0 %}
                            {% for p in paginator.posts %}
                                {% if p.published != false %}
                                    {% include plugins/blog-post.html date=p.date title=p.title url=p.url content=p.content %}
                                {% endif %}
                            {% endfor %}

                            {% if paginator.total_pages > 1 %}
                            <ul>
                            {% if paginator.previous_page %}
                            <li>
                                <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="btn btn-custom2 radius-lger pull-right">Newer</a>
                            </li>
                            {% endif %}
                            {% if paginator.next_page %}
                            <li>
                                <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="btn btn-custom2 radius-lger">Older</a>
                            </li>
                            {% endif %}
                            </ul>
                            {% endif %}
                        {% else %}
                            <h4>No Teams have started blogging yet, please come back soon!</h4>    
                        {% endif %}
                </div>
                <div class="col-md-3 sidebar">
                    <div class="widget">
                        <a href="https://docs.google.com/a/athletesinaction.org/document/d/1F1w43Frx53UBLOSgn5HkeGajGgQHyrG7o1fQT2F6gzw/edit?usp=sharing"
                        class="btn btn-block" style="color: #fff; font-weight: bold; background-color:#990000;">Emergency Contact Info</a>
                    </div>
                    <div class="widget">
                        <h3>All Teams</h3>
                        <ul class="links">
                        {% for c in site.collections %}
                            {% if c.title != "AIA Team Blogs" and c.docs.size > 0 %}
                                {% if page.filter %}
                                    {% if c.label contains page.filter %}
                                    <li><a href="{{c.permalink | remove: ":collection/:year/:path" | append: c.label }}">{{ c.title }} ({{c.docs.size}})</a></li>
                                    {% endif %}
                                {% else %}
                                    <li><a href="{{c.permalink | remove: ":collection/:year/:path" | append: c.label }}">{{ c.title }} ({{c.docs.size}})</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<script type="text/javascript">
    $('.entry img').addClass("col-md-4 col-sm-8 col-xs-12 pull-right");
</script>