---
layout: default
---
<div class="max-width">
    <div class="mt20  container">
        <div class="row">
            <div class="col-md-3 col-md-push-9 career sidebar" role="complementary">
                <div class="widget">
                    <h3 class="text-center first-color" style="color:#990000;">
                        Careers Menu
                        <button type="button" class="btn-circle pull-right collapsed visible-xs" data-toggle="collapse" data-target="#career-nav" id="career-menu-btn">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="fa fa-bars first-color"></span>
                                        </button>	
                    </h3>
                    <ul class="nav navbar-collapse collapse" id="career-nav">
                        <ul class="links">
                            <li><a href="/careers"><i class="fa fa-angle-right"></i>Home</a></li>
                            <li><a href="/careers/employment"><i class="fa fa-angle-right"></i>Employment</a></li>
                            <li><a href="/careers/positions"><i class="fa fa-angle-right"></i>Positions</a></li>
                            <li><a href="/careers/full-time"><i class="fa fa-angle-right"></i>Full-time</a></li>
                            <li><a href="/careers/part-time-field-staff"><i class="fa fa-angle-right"></i>Part-time</a></li>
                            <li><a href="/careers/intern"><i class="fa fa-angle-right"></i>Intern</a></li>
                            <li><a href="/careers/stint"><i class="fa fa-angle-right"></i>STINT</a></li>
                            <li><a href="/careers/apply"><i class="fa fa-angle-right"></i>Application Details</a></li>
                            <li><a href="/careers/gods-will"><i class="fa fa-angle-right"></i>God's Will</a></li>              
                        </ul>
                    </ul>
                </div>
                <div class="mt20 mb20" style="text-align:center;">
                    <a href="http://apply.cru.org" class="btn btn-lg btn-custom no-radius mb10" style="width: 50%;">Apply </a>
                    <p><a href="http://goaia.org/uploads/careers/One%20Ap%20Instructions.pdf">Application Instructions</a></p>
                </div>
            </div>
            <div class="col-md-9 col-md-pull-3">
                {{ content }}
            </div>
        </div>
    </div>
</div> 