<!DOCTYPE html>

<html>
    <head>

        {% include base/head.html %}

    </head>
    <body>
        <div id="wrapper">
            {% include base/soccer-menu.html %}

            {% include plugins/revslider.html src1="/uploads/soccer/9729194753_69ae9a5828_b.jpg" text1="Go With Soccer" %}
      
            <div class="row">
                <div id="About">
                    <section class="section" id="About">
                        <header class="section-header container text-center">
                            <h2 class="section-title first-color" data-title="About">About</h2>
                        </header>
                    </section>
                </div>
            </div>
            <div class="max-width">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Travel the world while competing and serving others. Part sports camp and part mission trip, AIA Soccer gives you the chance to blend your sport and faith while experiencing another culture, all for the purpose of sharing the gospel around the world. </p>
                            <p>While every trip offers unique experiences and opportunities, all of our tours have the same basic components: several games against local teams, soccer camps and clinics to help national athletes and coaches hone their skills, as well as humanitarian aid projects and a variety of outreach opportunities. In all of these activities, you’ll be serving to accelerate the growth of the local AIA and sports ministries.</p>
                        </div>
                    </div>
                </div>
            </div>
            {% include plugins/image-callout.html image="/uploads/soccer/soccer-768482_1920.jpg" text="What We Do" byLine="We equip athletes to grow deeper in their faith, apply biblical principles to their sport and how to minister to their teammates." %}
            
            
            <div class="row">
                <div id="tours">
                    <section class="section" id="tours">
                        <header class="section-header container text-center">
                            <h2 class="section-title first-color" data-title="tours">Tours</h2>
                        </header>
                    </section>
                </div>
            </div>
            
            <div class="max-width">
                    <div class="container mt20">
                            {% for post in site.teams %}
                            <div class=" col-md-6">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="c1ph{{forloop.index}}">
                                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#c1pb{{forloop.index}}" aria-expanded="false" aria-controls="c1pb{{forloop.index}}" class="collapsed"> {{ post.title }} <span class="panel-icon"></span> </a></h4>
                                        </div>
                                        <div id="c1pb{{forloop.index}}" class="panel-collapse in" role="tabpanel" aria-labelledby="c1ph{{forloop.index}}">
                                            <div class="panel-body">
                                                <strong>Director:</strong><a href="mailto:{{ post.director_email }}" target="_blank">{{ post.director }}</a> <br> 
                                                <strong>Dates:</strong>{{ post.dates }} <br>
                                                <strong>About:</strong>{{ post.content }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                    </div>
            </div>
            <div id="apply"></div>
            {% include plugins/application-callout.html appLink="https://my.athletesinaction.org/Applications/Tour/Soccer/default.aspx" color="dark" %}
            <div class="row">
                <div id="opportunities">
                    <section class="section" id="opportunities">
                        <header class="section-header container text-center">
                            <h2 class="section-title first-color" data-title="Opportunities">Opportunities</h2>
                        </header>
                    </section>
                </div>
            </div>
            <div class="max-width">
                <div class="container mt20">
                    {% for post in site.events %}
                        <article class="col-sm-12 col-xs-12 event">
                            <h2 class="entry-title">
                                {% if post.alt_url %}
                                    <a href="{{post.alt_url}}">{{ post.title }}</a>
                                {% else %}
                                    <a href="{{post.url}}">{{ post.title }}</a>
                                {% endif %}
                            </h2>
                            <div class="entry-media">
                            <figure>
                                {% if post.alt_url %}
                                    <a href="{{post.alt_url}}">
                                {% else %}
                                    <a href="{{post.url}}">
                                {% endif %}
                                    <img src="{{ post.image }}" alt="event"> </a></figure>
                            </div>
                            <!-- End .entry-media -->
                            <div class="event-meta">
                            <div class="event-place event-meta-box"><span class="event-label"><i class="fa fa-map-marker fa-fw"></i>Venue:</span>{{ post.location }}</div>
                            <!-- End .event-date -->
                            <div class="event-date event-meta-box"><span class="event-label"><i class="fa fa-calendar fa-fw"></i>Date:</span>{{ post.start_date }} {% if post.end_date %}- {{ post.end_date }}{% endif %}</div>
                            <!-- End .event-date --> <!-- end .event-meta -->
                            <p><span>{{ post.short_description }}</span></p>
                            {% if post.alt_url %}
                                <a href="{{ post.alt_url }}" class="btn btn-dark no-radius btn-block">Event Page</a>
                            {% else %}
                                <a href="{{ post.url }}" class="btn btn-dark no-radius btn-block">Event Page</a>
                            {% endif %}
                            <footer class="entry-footer clearfix"></footer></div>
                        </article>
                    {% endfor %}
                </div>
            </div>
                <div class="container mt50"><div class="row">
                    <h2 class="title text-center mb30">Alumni <span class="light first-color">Endorsements</span></h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        <div class="testimonial wow zoomIn animated animated" style="visibility: visible; animation-name: zoomIn;">
                        <figure></figure>
                        <div class="testimonial-content">
                        <p>“An Athletes in Action soccer tour teaches you how to multiply your life using the gifts that God has given you. To be able to share the Gospel in your sport is the highest privilege for any Christian athlete! AIA helped me gain a much deeper understanding of what true biblical community should look like between teammates.”</p>
                        <h5>Alex McCauley - <a href="#" title="NC State"> NC State (2016 France Tour)</a></h5>
                        </div>
                        <!-- End .testimonial-content --></div>
                        <!-- End .testimonial --></div>
                        <!-- End .col-md-6 -->
                        <div class="col-md-6">
                        <div class="testimonial reverse wow zoomIn animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">
                        <figure></figure>
                        <div class="testimonial-content">
                        <p>“Going on tour with AIA Soccer was the absolute highlight of my summer. Being surrounded by other believers and collegiate soccer players inspires you in your walk with the Lord, and it teaches you how to worship God on the soccer field.”</p>
                        <h5>Camryn Wendlandt - <a href="#" title="Baylor University "> Baylor University (2016 France Tour) </a></h5>
                        </div>
                        <!-- End .testimonial-content --></div>
                        <!-- End .testimonial --></div>
                        <!-- End .col-md-6 --></div>
                    </div>

            {% include plugins/soccer-social.html %}
            {% include plugins/teamblogs.html %}
            {% include base/footer.html %}
            <script src="/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
            <script src="/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
            <script type="text/javascript">
                (function () {
                    "use strict";
                    // Slider Revolution
                    $('#revslider').revolution({
                        delay:8000,
                        startwidth:1170,
                        startheight:500,
                        fullWidth:"on",
                        fullScreen:"on",
                
                        soloArrowLeftHOffset:20,
                        soloArrowRightHOffset:20,
                        dottedOverlay:"threexthree",
                      fullScreenOffsetContainer: "#header, #gheader"
                    });
                }());
            </script>
        </div>
    </body>
</html>
